html, body, #container, canvas { 
	margin: 0; 
	height: 100%; 
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    margin: auto;
    background-size: cover;
    background-color: white;
}

#fullscreen {
	position: relative;
	top: 0;
	display: block;
    height: 100%;
    width: auto;
    z-index: -100;
    margin: auto;
    background-color: white;
}

.panel {
	width: 400px;
	pointer-events: none;
	background-color: blue;
	color: white;
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 20px;
}
