html, body, #container, canvas { 
	position: fixed;
	top: -40px;
	left: -40px;
	right: -40px;
	bottom: -40px;
	margin: 40px;
	background-color: black;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    margin: auto;
    background-size: cover;
}

#description {
	position: fixed;
	display: block;
	left: 0;
	right: 0;
	bottom: -200px;
	z-index: 1001;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	-webkit-transition: bottom 1s;
}

#descriptionText {
	margin: auto;
	margin-bottom: 15px;
	padding: 5px;
	max-width: 570px;
	border-radius: 2px;
	background-color: white;
	box-shadow: 0 5px 20px #000;
}

#fullscreen {
	position: relative;
	border-radius: 50%;
	top: -10%;
	display: block;
    height: 120%;
    width: auto;
    z-index: -100;
    margin: auto;
}

.panel {
	width: 400px;
	pointer-events: none;
	background-color: blue;
	color: white;
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 20px;
}
